@model ApplicationModel.AccountConfigurationModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit AccountConfiguration </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ConfigurationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfigurationId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfigurationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusinessId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeactiveAccountDaysForInvalidPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeactiveAccountDaysForInvalidPwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeactiveAccountDaysForInvalidPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockAccountDaysForInvalidPwd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LockAccountDaysForInvalidPwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LockAccountDaysForInvalidPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutoUnlockAccountMinutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutoUnlockAccountMinutes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AutoUnlockAccountMinutes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordAutoExpireInDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordAutoExpireInDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordAutoExpireInDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPasswordNeverExpired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsPasswordNeverExpired)
                    @Html.ValidationMessageFor(model => model.IsPasswordNeverExpired, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangedPwdOnNextLogin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ChangedPwdOnNextLogin)
                    @Html.ValidationMessageFor(model => model.ChangedPwdOnNextLogin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordLength, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordLength, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordLength, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotifiedToCSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.NotifiedToCSP)
                    @Html.ValidationMessageFor(model => model.NotifiedToCSP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default"  id="btnsubmit"/>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#btnsubmit").click(function (e) {

            alert($("#ConfigurationId").val());
            alert($("#BusinessId").val());
            alert($("#DeactiveAccountDaysForInvalidPwd").val());
            alert($("#AutoUnlockAccountMinutes").val());
            alert($("#PasswordAutoExpireInDays").val());
            alert($("#IsPasswordNeverExpired").val());
            alert($("#ChangedPwdOnNextLogin").val());
          
            alert($("#PasswordLength").val());
            alert($("#NotifiedToCSP").val());
            var input = {
                "ConfigurationId": $("#ConfigurationId").val(),
                "BusinessId": $("#BusinessId").val(),
                "DeactiveAccountDaysForInvalidPwd": $("#DeactiveAccountDaysForInvalidPwd").val(),
                "LockAccountDaysForInvalidPwd": $("#LockAccountDaysForInvalidPwd").val(),
                "AutoUnlockAccountMinutes": $("#AutoUnlockAccountMinutes").val(),
                "PasswordAutoExpireInDays": $("#PasswordAutoExpireInDays").val(),
                "IsPasswordNeverExpired": $("#IsPasswordNeverExpired").val(),
                "ChangedPwdOnNextLogin": $("#ChangedPwdOnNextLogin").val(),
                "PasswordLength": $("#PasswordLength").val(),
                "NotifiedToCSP": $("#NotifiedToCSP").val(),
            }
            $.ajax({
                url: "/Admin/_EditAccountConfiguration",
                type: "POST",
                data: { id: $("#ConfigurationId").val(),model: input,btnname:"Update" },
                cache: false,
            });
            $("#dialog").dialog("close");
        });
    });
</script>