@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Title Project</h1>
    <p class="lead">Description of the project.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Withdrawal Request Count
        </h2>
        <p>
            <table border="1" width="100%">
                <tr>
                    <td>Open</td>


                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Closed</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
            </table>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Deposite Request Count</h2>
        <table border="1" width="100%">
            <tr>
                <td>Open</td>


                <td>
                    @Html.ActionLink("(see table)", "#", new { }, null)
                </td>
            </tr>
            <tr>
                <td>Closed</td>
                <td>
                    @Html.ActionLink("(see table)", "#", new { }, null)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Support Request Count</h2>
        <p>
            <table border="1" width="100%">
                <tr>
                    <td>Open</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Closed</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
            </table>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>
            <table border="1" width="100%">
                <tr>
                    <td>Transaction Report</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Commission Report</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Business Detail Report</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Support Report</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Log Report</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
                <tr>
                    <td>Support Request Count</td>
                    <td>
                        @Html.ActionLink("(see table)", "#", new { }, null)
                    </td>
                </tr>
            </table>
        </p>
    </div>
</div>