@model ApplicationModel.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <table border="0" width="50%">
            <tr>
                <th colspan="2" style="background-color: lightgray;">
                    Login
                </th>
            </tr>
            <tr>
                <td width="12%">
                    Username
                </td>
                <td width="25%">
                    @Html.TextBox("Username")
               
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td width="12%">
                    Password
                </td>
                <td width ="25%">
                    @Html.TextBox("Password")

                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                </td>
</tr>
            @*<tr>
                    <td>
                        Remember Me
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </td>
                    <td>
                    </td>
                </tr>*@
            <tr>

                <td colspan="2" style="text-align:center;">
                    <input type="submit" value="Submit" id="btnSubmit" name="btnSubmit" />
                   @* <input type="button" value="Cancel" id="btnCancel" name="btnSubmit" />*@

                    <input type="button" value="Cancel" id="btnCancel"  onclick="location.href='@Url.Action("Login")'" />
                    @Html.ActionLink("Register", "Register", "Home")

                </td>

            </tr>
            <tr>
                <td colspan="2" style="text-align:center;color:red;">
                    @ViewBag.Message
                </td>
            </tr>
        </table>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
 
</body>
</html>
